.library-message{
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}

.book-library .message{
    text-align: center;
    font-weight: bold;
    color: red;
    height: 2em;
    margin-top: 1em;
}